:root {
  --dark-blue: #0a0f2c;
  --beige: #e9e8e3;
  --dark-beige: #d4d4ca;
  --custom-easing: cubic-bezier(0.08, 0.57, 0, 1);
  --easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-transform: lowercase;
  color: var(--dark-blue);
  background-color: white;
  font-variant-ligatures: common-ligatures;
}
html {
  /* font-size: calc(8px + 0.2vw); */
  font-size: calc(7px + 2.5 * (100vw - 500px) / 700);
  font-family: stratos-lights, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(0, 6rem)) minmax(
      1rem,
      1fr
    );
  gap: 0rem 1rem;
  align-items: center;
}
main {
  height: 100vh;
  background-color: var(--dark-blue);
}

main > h1 {
  grid-column: 3 / -1;
  grid-row: 1;
  color: var(--beige);
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h2 > a {
  color: var(--dark-blue);
}

#main-page-arrow {
  height: 6rem;
}

#menu-title {
  font-size: 40vw;
  letter-spacing: -2vw;
  font-weight: 700;
  color: var(--dark-beige);
  font-family: stratos, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-self: flex-start;
  white-space: nowrap;
}

.ml10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block-revealer__content {
  padding: 1rem;
  transition: all 300ms var(--easeOutExpo);
}

#main-page-arrow-link {
  padding: 5rem 0rem;
  grid-column: 3 / -1;
  grid-row: 3;
  animation: bounce 0.8s linear infinite;
}

ul li h2 {
  margin: 0 0;
}

main lottie-player {
  width: 90rem;
  overflow: hidden;
  grid-column: 2;
  margin-top: 10rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(-10%);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}

article > h2 {
  grid-column: 2 / 14;
  grid-row: 1;
  display: block;
  top: 0;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: stratos, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--dark-blue);
  z-index: 1;

  /* hyphenation */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
h1 {
  font-size: 12rem;
  line-height: 80%;
  letter-spacing: -0.5rem;
  color: var(--beige);
}
h2 {
  font-size: 6rem;
  letter-spacing: -0.3rem;
  margin: 5rem 0rem 2rem;
  line-height: 100%;
}
#your-story {
  letter-spacing: -0.57rem;
}
main.grid div {
  grid-row: 2;
  grid-column: 3/14;
}
h3 {
  font-size: 3rem;
  margin-top: -1rem;
  line-height: 120%;
}
p {
  font-size: 2.4rem;
  font-weight: 300;
  /* font-family: stratos-lights; */
  line-height: 120%;
}

.blog-grid h2,
.blog-grid h3 {
  line-height: 100%;
}

header {
  position: absolute;
  width: calc(100vw - (100vw - 100%));
  z-index: 3;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;
}

nav lottie-files {
  height: 7rem;
  position: relative;
  padding: 0rem 1rem;
}

nav img {
  height: 7rem;
  position: relative;
  padding: 0rem 1rem;
}

footer.grid {
  background-color: var(--dark-blue);
  color: var(--beige);
  width: calc(100vw - (100vw - 100%));
  padding: 1rem;
  align-items: center;
  margin-top: 7rem;
  grid-template-rows: auto;
}

footer > div {
  grid-column: 2/ 8;
  display: flex;
  align-items: center;
}

footer > div > img {
  height: 3.5rem;
  margin-right: 1rem;
}

footer > p {
  grid-column: 10 / 14;
  font-size: 2rem;
}

/* Vimeo player */
.our-work-player {
  grid-column: 2 / -2;
  position: relative;
  grid-row: 2;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.our-work-player iframe,
.our-work-player object,
.our-work-player embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grids {
  display: grid;
  grid-template-rows: repeat(4, minmax(10rem, auto));
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(0, 6rem)) minmax(
      1rem,
      1fr
    );
  gap: 1rem;
  align-items: start;
}

.grids img,
.about-grid img,
.contact img,
.blog-grid img,
.subpage.grid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lw1 {
  grid-column: 2 / 10;
  grid-row: 1/3;
}

#lw2 {
  grid-column: 10 / 14;
  grid-row: 2/3;
}
.homepage-new-work {
  grid-column: 10 / 14;
  grid-row: 1/2;
}

#lw3 {
  grid-column: 3 / 10;
  grid-row: 3/4;
}
#lw4 {
  grid-column: 10 / 14;
  grid-row: 3/5;
}
.homepage-new-work2 {
  grid-column: 3 / 10;
  grid-row: 4/5;
}
/* HAMBURGER MENU */

.menu-wrap {
  position: fixed;
  right: 1rem;
  z-index: 1;
  align-self: center;
}

.menu-wrap .toggler {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  width: 7.2rem;
  height: 7.2rem;
  opacity: 0;
  padding: 1rem;
}

.menu-wrap .hamburger {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 7.2rem;
  height: 7.2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrap .hamburger > div:hover {
  width: 0%;
}

/* One hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 0.7rem;
  background-color: var(--beige);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s var(--custom-easing);
  border-radius: 0.5rem;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -2rem;
  width: 100%;
  height: 0.7rem;
  background: var(--beige);
  border-radius: 0.5rem;
}

/* Moves line down */
.menu-wrap .hamburger > div:after {
  top: 2rem;
}

.menu-wrap .toggler:checked + .hamburger > div {
  background-color: var(--dark-blue);
}

.menu-wrap .toggler:checked + .menu-wrap {
  position: fixed;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turning Hamburger into X */
.menu-wrap .toggler:checked + .hamburger > div:before {
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
  background-color: var(--dark-blue);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
  background-color: var(--dark-blue);
}

/* show menu  */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  background-color: var(--beige);
  height: 100%;
  transition: all 0.5s var(--easeOutExpo);
  top: 0;
  left: 0;
}

.menu-wrap .toggler:checked ~ .menu > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  visibility: hidden;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  opacity: 1;
}

.ml10 .letter {
  display: inline-block;
  line-height: 10rem;
  transform-origin: 0 0;
}

.menu-wrap .menu > div.menu-items-container {
  width: 50vw;
}

.menu-wrap .menu > div > div {
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
}

/* MENU */

.num,
.label {
  display: inline-block;
}

.num {
  transform: translateX(3rem);
  padding-right: 9rem;
  transition: 1s;
  overflow: visible;
  opacity: 0;
}

.translate-number,
.translate-number2,
.translate-number3,
.translate-number4 {
  transform: translateX(2rem);
  opacity: 1;
  transition: 1s var(--easeOutExpo) all;
  transition-delay: 100ms;
}

.translate-number2 {
  transition-delay: 200ms;
}
.translate-number3 {
  transition-delay: 300ms;
}
.translate-number4 {
  transition-delay: 400ms;
}

.pages-list-item {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  transition: transform 0.35s;
}

.pages-list-item a {
  color: var(--dark-blue);
}
.pages-list-item:hover {
  transform: translateX(2rem);
}

.team-grid {
  display: grid;
}

/* BLOG page grid specs */
.blog-grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(0, 6rem)) minmax(
      1rem,
      1fr
    );
  gap: 1rem;
  align-items: start;
}

/* ABOUT page specific styling */
.about-grid {
  display: grid;
  grid-template-rows: repeat(7, minmax(auto, 25vh));
  grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(0, 6rem)) minmax(
      1rem,
      1fr
    );
  gap: 1rem;
  align-items: end;
}

figure {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
img {
  transition: transform 1s var(--easeOutExpo);
}

img:hover {
  transform: scale(1.02);
  transition: transform 1s var(--easeOutExpo);
}

/* placement of the team members pictures in the mosaic on the desktop version */

#ab1 {
  grid-column: 2/8;
  grid-row: 1/4;
}

#ab2 {
  grid-column: 8/ 13;
  grid-row: 2/3;
}

#ab3 {
  grid-column: 8 / 14;
  grid-row: 3/5;
}
#ab4 {
  grid-column: 3 / 7;
  grid-row: 4/6;
}
#ab5 {
  grid-column: 7 / 12;
  grid-row: 5/6;
}
#ab6 {
  grid-column: 4/10;
  grid-row: 6/8;
}

#blog1-img {
  grid-column: 2/8;
  grid-row: 1/2;
}

.blog-grid p:last-child {
  margin-top: 3rem;
}

#blog2,
#blog3,
#blog4 {
  grid-row: 3;
  grid-column: 2/6;
}

#blog3 {
  grid-column: 6/10;
}
#blog4 {
  grid-column: 10/14;
}

#blog2-img,
#blog3-img,
#blog4-img {
  max-height: 27rem;
}

#featured-blog {
  grid-column: 9/14;
  grid-row: 1/2;
  height: 100%;
}

#featured-blog h3 {
  font-size: 4rem;
  letter-spacing: -0.15rem;
}
#blog-other-articles {
  grid-column: 2/14;
  grid-row: 2/3;
  font-size: 6rem;
}

#blog2 h3,
#blog3 h3,
#blog4 h3 {
  margin-top: 1rem;
}

/* BLOG ARTICLE SPECIFIC STYLING */

.subpage.grid figure {
  grid-column: 1/15;
  grid-row: 1;
}
.subpage.grid figure img {
  grid-column: 1/15;
}
.blog-author {
  grid-column: 2/15;
}
.blog-author p,
.blog-post-grid > .blog-author > h3 {
  font-size: 2.4rem;
  display: inline-block;
  margin-top: 0;
}
.blog-post-grid p {
  line-height: 180%;
}
.blog-post-grid {
  grid-template-rows: repeat(auto-fill, minmax(0, auto));
}

.blog-post-grid h3,
.blog-post-grid p {
  grid-column: 2/14;
}
.blog-post-grid h3 {
  margin-top: 2rem;
  font-size: 4rem;
}
.blog-post-grid p {
  margin-top: 1rem;
}

.blog-contents {
  grid-column: 2/14;
}

h3.blog-introduction {
  font-size: 3rem;
}
.about-text-1 {
  grid-column: 8/12;
  grid-row: 1/2;
}
.about-text-2 {
  grid-column: 10/14;
  grid-row: 6/8;
}

.contact-text {
  grid-column: 10/14;
  align-self: start;
}

.contact-text h3,
.contact-text p:last-child {
  margin: 5rem 0;
}

.contact {
  grid-column: 2/9;
  max-height: 50rem;
}

.social-links {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

/* font-awesome styles for the contact page */
i {
  font-size: 4rem;
}

main.subpage {
  height: 50vh;
}

#work1-img {
  grid-column: 2/8;
  grid-row: 1/3;
}
#work2-img {
  grid-column: 8/14;
  grid-row: 1/3;
}
#work3-img {
  grid-column: 2/5;
  grid-row: 3/4;
}
#work4-img {
  grid-column: 8/14;
  grid-row: 3/4;
}
#work5-img {
  grid-column: 2/5;
  grid-row: 4/5;
}
#work6-img {
  grid-column: 5/14;
  grid-row: 4/5;
}

.work-grid {
  grid-template-rows: repeat(4, minmax(15vw, 20vh));
}

.work-article-1 {
  grid-column: 2/8;
  align-self: end;
}
.our-work-article-player {
  margin-top: 2rem;
  grid-row: 3;
}
.work-article-2 {
  grid-column: 8/14;
}
.work-article-2 h3,
.work-article-2 p {
  display: block;
  font-size: 2.4rem;
  margin-top: 0rem;
}

#our-work-arrow::before {
  content: "â† ";
  font-size: 10rem;
  transition: all 1s var(--easeOutExpo);
}

#our-work-arrow:hover::before {
  margin: -1rem;
  transition: all 0.5s var(--easeOutExpo);
}

figcaption p,
figcaption h3 {
  color: var(--beige);
  margin-top: 0;
}

figcaption {
  background: var(--dark-blue);
}
/* MOBILE */

@media only screen and (max-width: 764px) {
  main.grid div {
    grid-column: 2/14;
  }

  main lottie-player {
    width: 70rem;
    overflow: hidden;
    grid-column: 1;
    margin-top: 10rem;
  }

  footer > p {
    grid-column: 8 / 15;
  }
  /* figcaptions visible without hover on the mobile */

  figcaption {
    top: auto;
    padding: 2rem;
    background: var(--dark-blue);
    transform: translateY(-100%);
    position: relative;
    overflow: visible;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #lw1 {
    grid-column: 2 / 8;
  }

  #lw2 {
    grid-column: 8 / 14;
  }
  .homepage-new-work {
    grid-column: 8 / 14;
  }

  #lw3 {
    grid-column: 2 / 8;
  }
  #lw4 {
    grid-column: 8 / 14;
  }
  .homepage-new-work2 {
    grid-column: 2 / 8;
  }

  .work-grid {
    grid-template-rows: repeat(4, minmax(auto, 50vw));
  }

  #work3-img {
    grid-column: 2/8;
  }

  #work5-img {
    grid-column: 2/8;
  }
  #work6-img {
    grid-column: 8/14;
  }

  .about-text-1 {
    grid-column: 2/8;
    grid-row: 1/2;
  }

  .about-text-2 {
    grid-column: 8/14;
    grid-row: 7/8;
  }

  #ab1 {
    grid-column: 2/8;
    grid-row: 2/4;
  }

  #ab2 {
    grid-column: 8/14;
    grid-row: 1/3;
  }
  #ab3 {
    grid-column: 8 / 14;
    grid-row: 3/5;
  }
  #ab4 {
    grid-column: 2 / 8;
    grid-row: 4/6;
  }
  #ab5 {
    grid-column: 8 / 14;
    grid-row: 5/7;
  }
  #ab6 {
    grid-column: 2/8;
    grid-row: 6/8;
  }

  /* BLOG MOBILE ADJUSTMENTS */
  #featured-blog {
    grid-column: 8/14;
    grid-row: 1/2;
    height: 100%;
  }
  /* contact page adjustments */
  .contact-text {
    grid-column: 9/14;
  }
}
/* DESKTOP */

@media only screen and (min-width: 765px) {
  /* figcaptions on hover on the desktop */

  figcaption {
    top: auto;
    bottom: 0;
    padding: 3rem;
    transition: transform 1s var(--easeInExpo);
    transform: translate3d(0, 0, 0);
    display: block;
  }

  figure:hover p.description {
    opacity: 1;
  }

  figure:hover figcaption {
    transform: translate3d(0, -100%, 0);
    transition: transform 1s var(--easeOutExpo);
  }
  .grid figure figcaption,
  .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  figure figcaption :nth-child(1) {
    transition: transform 1s var(--easeInExpo);
    transform: translate3d(0, 100%, 0);
  }
  figure:hover figcaption :nth-child(1) {
    transition: transform 1s var(--easeOutExpo);
    transform: translate3d(0, 0%, 0);
    transition-delay: 0.1s;
  }
  figure figcaption :nth-child(2) {
    transition: transform 1s var(--easeInExpo);
    transform: translate3d(0, 100%, 0);
  }
  figure:hover figcaption :nth-child(2) {
    transition: transform 1s var(--easeOutExpo);
    transform: translate3d(0, 0%, 0);
    transition-delay: 0.2s;
  }
}
